*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.first-container{
    max-width:100%;
    margin: 5px 5px;
    height: 100vh;
   
}

.my-border{
    border: 1px solid red;
    
}
/* -------------------------------------- */
a{
    text-decoration: none;
    cursor: pointer;
    color:black;
}  

/* --------------------------------------------- */
.main_div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_div{
    height:70px;
    width: 70px;
  
    display: grid;
    place-items: center;
    border-right: 5px solid #255;
    border-radius: 50%;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0%{
       transform: rotate(0deg); 
    }
    0%{
        transform: rotate(360deg); 
     }
}



